<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Thông tin tài khoản</title>
</head>
<body>

<!-- Sử dụng Thymeleaf Security -->
<div sec:authorize="isAuthenticated()">
    <ul>
        <li>
            UserName: <b sec:authentication="name"></b>
        </li>
        <li>
            Role: <b sec:authentication="principal.authorities"></b>
        </li>
        <li>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign-Out"/>
            </form>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a href="#">Goto Administration</a>
        </li>
    </ul>
</div>

<div sec:authorize="!isAuthenticated()">
    <ul>
        <li>Bạn chưa đăng nhập</li>
        <li><a th:href="@{/login}">Đăng nhập</a></li>
    </ul>
</div>

</body>
</html>