<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer" class="bg-dark text-light mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6">
                <h5>Sneaker Store</h5>
                <p>Chuyên cung cấp các loại giày sneaker chính hãng với chất lượng tốt nhất.</p>
            </div>
            <div class="col-md-3">
                <h5>Liên kết</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/}" class="text-light">Trang chủ</a></li>
                    <li><a th:href="@{/products}" class="text-light">Sản phẩm</a></li>
                    <li><a th:href="@{/about}" class="text-light">Giới thiệu</a></li>
                    <li><a th:href="@{/contact}" class="text-light">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Liên hệ</h5>
                <p>
                    <i class="fas fa-map-marker-alt"></i> 123 Nguyễn Văn Linh, Hà Nội<br>
                    <i class="fas fa-phone"></i> 0123 456 789<br>
                    <i class="fas fa-envelope"></i> info@sneakerstore.com
                </p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2024 Sneaker Store. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>